/* Base */
@import "tailwindcss/base";
@import "./base.css";

/* Components */
@import "tailwindcss/components";
@import "./vandors/nprogress.css";
@import "./vandors/react-modal.css";
@import "./components/button.css";
@import "./components/table.css";

/* Utilities */
@import "tailwindcss/utilities";
@import "./utilities.css";
